@use "../component/typography" as *;

.page--contact{
   padding-top: 4.5rem;
   .section{
      &--hero{
         width: 100%;
         height: 450px;
         background-color: aqua;
         background-image: url('../../images/contact-img.png');
         background-size: cover;
         background-position: center;
      }
      &--form{
         max-width: 1100px;
         margin: 0 auto;
         // height: 45rem;
         display: flex;
         gap: 1rem;

         &__details{
            width: 50%;
            height: 100%;
           //background-color: aquamarine;
            padding-top: 7.2rem;
            padding-left: 1rem;

            h1{
               font-size: 50px !important;
               font-weight: 500 !important;
               margin-bottom: 5px;
            }
            .ssf-d-label{
               font-size: 12px;
               font-weight: 600;
               font-family: 'Inter', sans-serif;
               text-transform: uppercase;
            }
            h2{
               font-family: 'Inter', sans-serif;
               font-size: 25px;
               color: #212830;
               line-height: 110%;
               max-width: 220px;
               text-transform: none;
               margin-top: 2rem;
            }
            .ssf-fd-box{
               margin-top: 3rem;
               .ssf-fd-box-pt{
                  font-size: 14px;
                  color: #737373;
                  margin-bottom: 0px !important;
                  font-family: 'Inter', sans-serif;
               }
               .ssf-fd-box-txt{
                  font-family: 'Inter', sans-serif;
                  font-weight: 600;
                  font-size: 18px;
                  max-width: 260px;
               }
            }
         }
         &__form{
            width: 50%;
            height: 100%;
            border-left: 1px solid #B3B3B3;
            border-right: 1px solid #B3B3B3;

            .sff-bvec{
               width: 100%;
               height: 7rem;
               object-fit: cover;
               object-position: center;
               display: block;
               user-select: none;
               -webkit-user-drag: none;
               

            }
            .sff-top{
               width: 100%;
               padding-block: 35px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               gap: 2rem;
               padding-right: 1rem;
               padding-bottom: 40px;
               p{
                  max-width: 360px;
                  font-size: 14px;
                  color: #212830;
               }
            }
            .sff-main-form{
               width: 100%;
               // height: 530px;
               border-top: 1px solid #B3B3B3;
               background: linear-gradient(
                  0deg,
                  #13171C,
                  #353F4B
               );
               padding: 2.8rem 2.5rem;

               h3{
                  color: #fff;
                  font-weight: 600;
                  font-family: 'Inter', sans-serif;
                  line-height: 110%;
                  font-size: 25px;
               }

               .sffmf-form-group{
                  display: flex;
                  gap: 26px;
                  margin-top: 2.3rem;

                  input{
                     width: 50%;
                     background-color: transparent;
                     border: none;
                     border-bottom: 1px solid #fff;
                     font-family: 'Inter', sans-serif;
                     font-size: 16px;
                     color: #fff;
                     padding-block: .9rem;

                     &::placeholder{
                        color: #fff;

                     }
                  }
               }
               textarea{
                  width: 100%;
                  background-color: transparent;
                  border: none;
                  font-family: 'Inter', sans-serif;
                  font-size: 16px;
                  color: #fff;
                  border-bottom: 1px solid #fff;
                  resize: none;
                  margin-top: 3rem;
                  &::placeholder{
                     color: #fff;

                  }
               }
               button{
                  width: 100%;
                  height: 50px;
                  background-color: #0B95D0;
                  color: #fff;
                  font-family: 'Inter', sans-serif;
                  font-weight: 600;
                  font-size: 14px;
                  border-radius: 3px;
                  margin-top: 2rem;
               }
            }
         }
         @media (max-width: 892px) {
            flex-direction: column;

            &__form, &__details{
               width: 100%;
            }
            &__details{
               padding-top: 4rem;
               display: flex;
               flex-direction: column;
               align-items: center;
               padding-bottom: 1.5rem;
               h1, h2{
                  text-align: center;
               }
               .ssf-fd-box{
                  margin-top: 1rem;
                  .ssf-fd-box-pt{
                     text-align: center;
                  }
                  .ssf-fd-box-txt{
                     text-align: center;
                  }
               }
            }
            &__form{
               border-top: 1px solid #B3B3B3;
            }
         }
      }
      &--map{
         width: 100%;
         height: 30rem;
         background-image: url('../../../images/map.png');
         background-position: center;
         background-size: cover;

         iframe{
            width: 100%;
            height: 100%;
         }
      }
   }
}